<h3>Activity Tracker</h3>
<form>
  <select name="goal">
  {{#each goals.models}}
    <option id="{{id}}">{{attributes.activity}}</option>
  {{/each}}
  </select>
  <input type="text" name="progress" />
  <label name="count" value="{{measurement}}" />
  <button type="submit"> Add </button>
</form>
