<form>
  <label>
    I want to
    <input type="text" name="activity">
  </label>
  <label>
    <input type="text" name="measurement"> 
  </label>
  <label>
    in 
    <input type="text" name="timeframe"> 
  </label>
  <button type="submit"> Add </button>
</form>
